.page-divider {
    $divider-color: $light-gray;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid $divider-color;
    .one {
	position: relative;
	top: -9px;
	display: block;
	background: $divider-color;
	width: 18px;
	height: 18px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
    }
    .two {
	position: relative;
	top: -26px;
	display: block;
	background: $white;
	width: 16px;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
    }
}
